.title4{
    text-align: center;
}
.title4 p{
    color: rgb(16, 16, 168);
    font-size: 20px;
    text-transform: uppercase;
    margin: 70px 0 30px;
}
.title4 h2{
    font-size: 32px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-transform: none;

}