.campos{
    margin: 90px auto;
    width: 90%;
  text-align: center;
  /* background: rgb(207, 207, 205); */

}
.gallery{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 40px;
}
.gallery img{
    width: 23%;
    border-radius: 10px;

}
.bolt{
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgb(26, 26, 177);
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
}
 

.bolt img {
    width: 20px;
    margin-left: 10px;
    }

    @media (max-width:900px){
        .gallery{
            align-items: center;
        }
        .campos{
            width: 95%;
             margin: 10px auto;
        }

    }